# Image references
BLUE_IMAGE=blue-image:tag
GREEN_IMAGE=green-image:tag


# Which pool should be active initially (blue)
ACTIVE_POOL=blue


# App release ids returned via X-Release-Id header
RELEASE_ID_BLUE=blue-release-v1.0.0
RELEASE_ID_GREEN=green-release-v1.0.0


# Port inside containers the NodeJS app listens on (Nginx)
PORT=8080


# Alerting config
SLACK_WEBHOOK_URL=
ERROR_RATE_THRESHOLD=2.0
WINDOW_SIZE=200
ALERT_COOLDOWN_SEC=300
MAINTENANCE_MODE=0